<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsi.schoolplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NewExamActivity" />
        <activity android:name=".Activities.ExamActivity" />
        <activity android:name=".Activities.TimeTableActivity" />
        <activity android:name=".Activities.CalendarActivity" />
        <activity android:name=".Activities.AllSubjectsActivity" />
        <activity android:name=".Activities.SubjectActivity" />
        <activity android:name=".Activities.GradesActivity" />
        <activity android:name=".Activities.AllWeekPlansActivity" />
        <activity android:name=".Activities.WeekPlanActivity" />
    </application>

</manifest>